<!--	</div>
	<div class="col-md-4">
		{% include sidebar.html %}
	</div>
</div>-->

<!--</div>-->

	<footer class="site-footer">
      <div class="container">
        <p><div style="text-align: center;">
			<br>
			Contact <a href="mailto:hello@foomoo.com">hello@watfordconsulting.com</a> - Copyright 2009-2016 Watford Consulting Ltd.<br>
			Company Number: 06888240 - VAT Registration No: 998 5856 24
		</div></p>
      </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>


