	</div>
	<div class="col-md-4">
		{% include sidebar.html %}
	</div>
</div>

</div>

<!--<nav class="navbar navbar-default navbar-static-bottom">
	<div class="container">
		<center>
			Contact enquiries@foomoo.com - Copyright 2009-2015 Watford Consulting Ltd.<br>
			Company Number: 06888240 - VAT Registration No: 998 5856 24
		</center>
	</div>
	
</nav>-->

	<footer class="footer">
      <div class="container">
        <p><center>
			<br>
			Contact <a href="mailto:enquiries@foomoo.com">enquiries@foomoo.com</a> - Copyright 2009-2015 Watford Consulting Ltd.<br>
			Company Number: 06888240 - VAT Registration No: 998 5856 24
		</center></p>
      </div>
    </footer>

<script src="/js/jquery.min.js"></script>
</body>
</html>
